.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #d1d5db;
    width: 109%;

}

.title {
    font-size: 28px;
    margin-left: 80px;
  }
  
  .small-button {
    margin-right: 80px;
  } 